<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Orion Globe</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>

  <div id="container"></div>

  <script type="text/javascript" src="/javascripts/third-party/Detector.js"></script>
  <script type="text/javascript" src="/javascripts/third-party/three.min.js"></script>
  <script type="text/javascript" src="/javascripts/third-party/Tween.js"></script>
  <script type="text/javascript" src="/javascripts/shaders.js"></script>
  <script type="text/javascript" src="/javascripts/orionPoint.js"></script>
  <script type="text/javascript" src="/javascripts/globe.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>

  </body>

</html>
